*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(95, 33, 44);
    font-family: "Jost", sans-serif;
    font-style: normal;
}
body{
    background: rgb(255, 227, 232);
}
/**/
header{
    background: pink;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: double 5px white;
}
header img{
    height: 60px;
    margin-left: 60px;
}
.header-menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 60px;
}
ul a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
}
li a:hover{
    color: rgb(219, 116, 133);
}
/**/
#container{
    min-height: 100dvh;
    display: flex;
}
/**/
#side-menu{
    background: rgb(223, 142, 154);
    padding: 50px;
}
#side-menu ul{
    list-style: none;

}
.side-list .borde-si{
    margin:20px 0;
    border-bottom: solid #c06b79 2px;
}
.side-list a{
    font-size: 25px;
    color: rgb(116, 51, 62);
    text-decoration: none;
}
.side-list li a{
    display: block;
    padding: 10px;
    transition: color 0.2s ease;
}
.side-list a:hover{
    color: white;
}
/**/
h1{
    margin: 20px auto;
    
}
main{
    min-height: 400px;
    width: 450px;
    margin: 20px auto;
    background: pink;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
form{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 20px;
}
input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
label{
    padding-top: 10px;
    font-size: large;
}
button{
    background: #d17685;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(68, 18, 42);
    margin: 10px auto;
    font-size: medium;
}
button:hover{
    color: white;
}
/**/
footer{
    min-height: 100px;
    background: rgb(172, 114, 123);
}
#footer-text{
    display: flex;
    justify-content: center;
}
.pie-de-pag{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
iframe{
    width:100dvi;
    height: 200px;
}
footer p{
    padding: 10px;
    text-align: center;
}